[Desktop Entry]
Version=1.0
Name=Gapcoin Core
Comment=Connect to the Gapcoin P2P Network
Comment[de]=Verbinde mit dem Gapcoin peer-to-peer Netzwerk
Comment[fr]=Gapcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gapcoin, eşten eşe kriptografik sanal para birimi
Exec=gapcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoin;
Categories=Office;Finance;
StartupWMClass=Gapcoin-qt
